$g-horizontal-gutter-height: 0.13;
$g-horizontal-row-height: 0.305;
$g-vertical-gutter-width: 0.57;

$f-size-lead-val: 1;
$f-size-main-val: 0.5;
$f-size-sub-val: 0.412;
$f-size-lead: 1em;
$f-size-main: 0.5em;
$f-size-sub: 0.412em;

$size-root-val: 8;
$size-root: calc(#{$size-root-val} * 1vh);
$gutter: calc(#{$size-root} * #{$g-horizontal-gutter-height});
$row: calc(#{$size-root} * #{$g-horizontal-row-height});
$v-gutter: calc(#{$size-root} * #{$g-vertical-gutter-width});

:export {
	rootFontSize: $size-root-val;
	horizontalGutterHeight: $g-horizontal-gutter-height;
	verticalGutterWidth: $g-vertical-gutter-width;
	rowHeight: $g-horizontal-row-height;
}

$size-root-val-v: 8;
$size-root-v: calc((90vw - #{$v-gutter}*11) / #{$size-root-val-v});
$gutter-v: calc(#{$size-root-v} * #{$g-horizontal-gutter-height});
$row-v: calc(#{$size-root-v} * #{$g-horizontal-row-height});
$v-gutter-v: calc(#{$size-root-v} * #{$g-vertical-gutter-width});