$f-theme: 'Helvetica Neue', 'Roboto', sans-serif;
$f-theme-condensed: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue', 'Roboto', sans-serif;

$container-width: 100vw;

.-f-condensed {
	font-family: $f-theme-condensed;
}