@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,600&display=swap");

$f-main: "Vollkorn", Garamond, Baskerville, "Baskerville Old Face",
  "Hoefler Text", "Times New Roman", serif;
@mixin f-main {
  font-family: $f-main;
}

@mixin f-main-b {
  @include f-main;
  font-weight: 600;
}
