$offset-h: 40px;
$offset-v: 64px;
$safe-area: calc(1620px - var(--offset) * 2);

@mixin -container {
  padding: 0 $offset-v;
}
.-container {
  @include -container;
}
@mixin -container-full {
  padding: $offset-h $offset-v;
}
.-container-full {
  @include -container-full;
}
@mixin -safe-container {
  max-width: $safe-area;
  padding: 0 $offset-v;
  margin: 0 auto;
}
.-safe-container {
  @include -safe-container;
}
@mixin -safe-container-full {
  @include -safe-container;
  padding-top: $offset-h;
}
.-safe-container-full {
  @include -safe-container-full;
}

.-side-main-container {
  display: flex;

  &__side {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
  }
  &__main {
    flex-grow: 1;
  }
}
