@import "_reset";
@import "_media-queries";
@import "_layouts";
@import "_fonts";
@import "_helpers";

body {
  @include -f-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @include -f-main;
}

a {
  color: black;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s;
}
.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 0.3s;
}
.fade-fast-enter,
.fade-fast-leave-active {
  opacity: 0;
  transition: opacity 0s;
}

.dissolve-enter-active {
  transition: opacity 2s;
}
.dissolve-enter {
  opacity: 0;
  transition: opacity 1s;
}
.dissolve-fast-enter-active {
  transition: opacity 1s;
}
.dissolve-fast-enter {
  opacity: 0;
  transition: opacity 0s;
}
